[submodule "homedir/.config/awesome/lain"]
	path = homedir/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "homedir/.config/awesome/freedesktop"]
	path = homedir/.config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "homedir/.config/polybar/modules/polybar-i3-windows"]
	path = homedir/.config/polybar/modules/polybar-i3-windows
	url = https://github.com/meelkor/polybar-i3-windows.git
[submodule ".config/rofi/scripts/rofi-bluetooth"]
	path = .config/rofi/scripts/rofi-bluetooth
	url = https://github.com/ClydeDroid/rofi-bluetooth.git
