# Instruct Qt 5.6, Qt 5 applications can to honor screen DPI by
# setting this environment variable:
# ref: https://wiki.archlinux.org/index.php/HiDPI
export QT_AUTO_SCREEN_SCALE_FACTOR=1
# set arrangement, resolution, and HiDPI for both displays at beginning of session
#xrandr --output DP-1 --primary --mode 3840x2160 --rate 60.00 --dpi 115 --output HDMI-1 --mode 3840x2160 --rate 30.00 --left-of DP-1

# remap escape key to caps lock
setxkbmap -option caps:escape

# load settings properly when x starts
# verify with: xdpyinfo | grep -B 2 resolution
xrdb -merge ~/.Xresources

## systemtray
blueman-applet &
nm-applet & 
pasystray & 
xfce4-clipman &
xfce4-power-manager &
xfce4-screensaver --no-daemon &
pamac-tray &

# Pass the --use-ewmh-active-win option to troubleshoot freezing window
# issue in Slack and firefox on xmonad. 
# ref: https://github.com/xmonad/xmonad/issues/201#issue-515477499
picom -b --use-ewmh-active-win --experimental-backends --dbus --config ~/.config/picom.conf &

## apps
discord &
spotify &
# Use redshift to adjust color temperature of screen at night. 
# Parse location coordinates instead of relying on geoclue dbus provider.
redshift -l $(curl -s "https://location.services.mozilla.com/v1/geolocate?key=geoclue" | jq '.location.lat, .location.lng' | tr '\n' ':' | sed 's/:$//') &
