# Source color settings
#include ".Xresources.d/gruvbox"
#include ".Xresources.d/gruvbox-urxvt256"

# Source program settings
#include ".Xresources.d/urxvt"

## Set to ~ 120% to increase font size without losing resolution.
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 125
